.form-item label {
  display: inline;
  float: left;
  padding: 3px 5px 0px 0px;
  text-align: left;
  width: 14%;
}

.form-item .form-text {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
}
